<div class="container">
  <div class="row center"><h5><span class="te-title">Te-Sham Academy Diplomas</span></h5></div>
  <div class="row">
    <ng-container *ngFor="let course of coursesData; let _last = last;">
      <div class="col l4 m6 s12 course-widget" [ngClass]="{'hide-on-med-and-down': !!_last}">
        <te-app-diplom-card [courseData]="course"></te-app-diplom-card>
      </div>
    </ng-container>
  </div>
  <div class="row center"><a class="btn waves-effect waves-light light-green" [routerLink]="'/' + router.diplomas">View ALL Diplomas</a></div>
  <div class="te-widget-separator" *ngIf="withRuler"></div>
</div>
