@import "../assets/util-scss/global";

.container {
  width: 90%;
}
/*
section {
  height: 500px;
  width: 100%;
  background: white;
}
*/

img {
  display: block;
  height: 400px;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
