<div class="container">
  <div class="row center"><h5><span class="te-title">Te-Sham Academy Upcoming Events</span></h5></div>
  <div class="row">
    <div class="col l4 m6 s12">
      <te-app-upcoming-event></te-app-upcoming-event>
    </div>
    <div class="col l4 m6 s12">
      <te-app-upcoming-event></te-app-upcoming-event>
    </div>
    <div class="col l4 m6 s12">
      <te-app-upcoming-event></te-app-upcoming-event>
    </div>
  </div>
  <div class="row center"><a class="btn light-green">View ALL UPCOMING EVENTS</a></div>
  <div class="te-widget-separator"></div>
</div>
