<div class="container" *ngIf="diplomaList  && diplomaList.length > 0">
  <div class="row">
    <te-app-breadcrumb-pages></te-app-breadcrumb-pages>
    <h5 class="center"><span class="te-title">Te-Sham Academy Diplomas</span></h5></div>
  <div class="row">
    <ng-container *ngFor="let course of diplomaList; let _last = last;">
      <div class="col l4 m6 s12 course-widget" [ngClass]="{'hide-on-med-and-down': !!_last}">
        <te-app-course-card [courseData]="course"></te-app-course-card>
      </div>
    </ng-container>
  </div>
</div>
